
@font-face {
  font-family: 'Hack Nerd Font';
  src: url('hack_bold_italic_nerd_font_complete-webfont.woff2') format('woff2'),
        url('hack_bold_italic_nerd_font_complete-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('hack_bold_nerd_font_complete-webfont.woff2') format('woff2'),
        url('hack_bold_nerd_font_complete-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('hack_regular_nerd_font_complete-webfont.woff2') format('woff2'),
        url('hack_regular_nerd_font_complete-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
